.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.preview {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #c3c3c3;
  border-radius: 0.25rem;
}
