@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-duration: 200ms;
  --animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@layer base {
  @font-face {
    font-family: "geist";
    src:
      url("/fonts/geist-sans/Geist-Variable.woff2") format("woff2"),
      url("/fonts/geist-sans/Geist-Variable.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  /* Typography */

  .display {
    @apply text-30 tracking-xdense leading-36;
  }

  .h1 {
    @apply text-20 tracking-xdense leading-24;
  }

  .h2 {
    @apply text-16 tracking-dense leading-20;
  }

  .h3 {
    @apply text-14 tracking-dense leading-16;
  }

  .paragraph {
    @apply text-14 tracking-dense leading-16;
  }

  .label {
    @apply text-11 tracking-normal leading-12;
  }

  /* Badge */

  .care-badge {
    @apply relative inline-flex;
  }

  .care-badge__content {
    @apply absolute top-0 right-0 px-xxxsmall py-[0.125rem] min-w-xxsmall min-h-xxsmall label font-medium text-textNeutralSubtle bg-negativeBold rounded-full translate-x-2/4 translate-y-[-50%] origin-top-right scale-100 z-10;
  }

  /* Button */

  .care-button {
    @apply relative inline-flex h2 p-small font-semiBold gap-xxsmall rounded-full;

    &:focus::after {
      @apply content-empty absolute top-[-0.25rem] bottom-[-0.25rem] left-[-0.25rem] right-[-0.25rem] rounded-full border-medium border-solid border-canvasBolder;
    }
  }

  .care-button__default {
    &.care-button--primary {
      @apply bg-canvasBolder text-neutralSubtle;
    }

    &.care-button--primary:not(:disabled):active {
      @apply bg-neutralBoldPressed;
    }

    &.care-button--primary:focus::after {
      @apply border-canvasBolder;
    }

    &.care-button--secondary {
      @apply bg-neutralSubtle text-textNeutralBolder;
    }

    &.care-button--secondary:active {
      @apply bg-neutralSubtle text-textNeutralBold;
    }

    &.care-button--tertiary {
      @apply text-textNeutralBolder;
    }

    &.care-button--tertiary:active {
      @apply text-textNeutralBold;
    }

    &:disabled {
      @apply bg-neutralSubtle text-textNeutralDisabled;
    }
  }

  .care-button__positive {
    &.care-button--primary {
      @apply bg-positiveBold text-neutralSubtle;
    }

    &.care-button--primary:not(:disabled):active {
      @apply bg-positiveBoldPressed;
    }

    &.care-button--secondary {
      @apply bg-neutralSubtle text-textPositiveBold;
    }

    &.care-button--secondary:active {
      @apply bg-neutralSubtle text-textPositiveBolder;
    }

    &.care-button--tertiary {
      @apply text-textPositiveBold;
    }

    &.care-button--tertiary:active {
      @apply text-textPositiveBolder;
    }

    &:disabled {
      @apply bg-positiveSubtle text-textPositiveDisabled;
    }
  }

  .care-button__negative {
    &.care-button--primary {
      @apply bg-negativeBold text-neutralSubtle;
    }

    &.care-button--primary:not(:disabled):active {
      @apply bg-negativeBoldPressed;
    }

    &.care-button--secondary {
      @apply bg-neutralSubtle text-textNegativeBold;
    }

    &.care-button--secondary:active {
      @apply bg-neutralSubtle text-textNegativeBolder;
    }

    &.care-button--tertiary {
      @apply text-textNegativeBold;
    }

    &.care-button--tertiary:active {
      @apply text-textNegativeBolder;
    }

    &:disabled {
      @apply bg-negativeSubtle text-textNegativeDisabled;
    }
  }

  .care-button--small {
    @apply p-xxsmall h3 gap-xxxsmall leading-20;
  }

  /* Checkbox */

  .care-checkbox__container {
    @apply flex items-center;

    &:hover {
      @apply cursor-pointer;
    }
  }

  .care-checkbox__input {
    @apply hidden;
  }

  .care-checkbox__label {
    @apply paragraph text-textNeutralBold;
  }

  .care-checkbox__icon {
    @apply relative p-[8px] text-textNeutralBold rounded-full;
  }

  .care-checkbox:hover {
    .care-checkbox__icon {
      @apply bg-neutralSubtle;
    }
  }

  .care-checkbox--error {
    .care-checkbox__icon {
      @apply text-negativeBoldPressed;
    }
    &:hover .care-checkbox__icon {
      @apply bg-negativeSubtle;
    }
  }

  .care-checkbox--disabled {
    @apply cursor-default pointer-events-none;

    .care-checkbox__icon {
      @apply opacity-[0.4];
    }
  }

  /* Radio */

  .care-radio__container {
    @apply flex items-center;

    &:hover {
      @apply cursor-pointer;
    }
  }

  .care-radio__input {
    @apply hidden;
  }

  .care-radio__icon {
    @apply p-[8px] rounded-full;
  }

  .care-radio__label {
    @apply paragraph text-textNeutralBold;
  }

  .care-radio:hover {
    .care-radio__icon {
      @apply bg-neutralSubtle;
    }
  }

  .care-radio--disabled {
    @apply cursor-default pointer-events-none;

    .care-radio__icon {
      @apply opacity-[0.4];
    }
  }

  /* Skeleton */

  @keyframes gradient {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .care-skeleton {
    @apply relative block py-0 bg-neutral-100 rounded-xsmall origin-left overflow-hidden;

    &::before {
      @apply content-empty;
    }

    &::after {
      @apply content-empty absolute top-0 bottom-0 inset-0 translate-x-[-100%];
      background-image: linear-gradient(
        89.76deg,
        #f5f5f4 0%,
        #e7e5e4 50%,
        #f5f5f4 100%
      );
      animation: 2s linear 0.5s infinite normal none running gradient;
    }
  }

  .care-skeleton__text {
    @apply w-full rounded-xsmall;

    &.care-skeleton__text--20 {
      @apply h-[20px];
    }

    &.care-skeleton__text--16 {
      @apply h-[16px];
    }

    &.care-skeleton__text--14 {
      @apply h-[14px];
    }

    &.care-skeleton__text--11 {
      @apply h-[11px];
    }
  }

  .care-skeleton__circle {
    @apply rounded-full;

    &.care-skeleton__circle--xlarge {
      @apply size-[128px];
    }

    &.care-skeleton__circle--large {
      @apply size-[72px];
    }

    &.care-skeleton__circle--medium {
      @apply size-[48px];
    }

    &.care-skeleton__circle--small {
      @apply size-[32px];
    }
  }

  .care-skeleton__square {
    @apply rounded-xsmall;

    &.care-skeleton__square--xlarge {
      @apply size-[128px];
    }

    &.care-skeleton__square--large {
      @apply size-[72px];
    }

    &.care-skeleton__square--medium {
      @apply size-[48px];
    }

    &.care-skeleton__square--small {
      @apply size-[32px];
    }
  }

  .care-skeleton__rectangle {
    @apply rounded-xsmall;

    &.care-skeleton__rectangle--xlarge {
      @apply w-[128px] h-[calc(128px/1.5)];
    }

    &.care-skeleton__rectangle--large {
      @apply w-[72px] h-[48px];
    }

    &.care-skeleton__rectangle--medium {
      @apply w-[48px] h-[32px];
    }

    &.care-skeleton__rectangle--small {
      @apply w-[32px] h-[calc(32px/1.5)];
    }
  }

  /* Tag */

  .care-tag {
    @apply relative inline-flex items-center gap-xxxsmall p-xxsmall h2 font-semiBold rounded-xsmall;
  }

  .care-tag__low {
    &.care-tag--neutral {
      @apply bg-neutralSubtle text-textNeutralBolder;
    }

    &.care-tag--negative {
      @apply bg-negativeSubtle text-textNegativeBolder;
    }

    &.care-tag--attention {
      @apply bg-attentionSubtle text-textAttentionBolder;
    }

    &.care-tag--positive {
      @apply bg-positiveSubtle text-textPositiveBolder;
    }

    &.care-tag--informative {
      @apply bg-informationSubtle text-textInformationBolder;
    }
  }

  .care-tag__high {
    &.care-tag--neutral {
      @apply bg-neutralBold text-textNeutralSubtle;
    }

    &.care-tag--negative {
      @apply bg-negativeBold text-textNeutralSubtle;
    }

    &.care-tag--attention {
      @apply bg-attentionBold text-textNeutralSubtle;
    }

    &.care-tag--positive {
      @apply bg-positiveBold text-textNeutralSubtle;
    }

    &.care-tag--informative {
      @apply bg-informationBold text-textNeutralSubtle;
    }
  }

  .care-tag--small {
    @apply label font-medium;
  }

  /* TextInput */

  .care-textInput__container {
    @apply relative flex gap-xxsmall pt-[28px] pb-[12px] px-small bg-neutralSubtle rounded-t-xsmall;

    &::before {
      @apply content-empty absolute left-0 bottom-0 w-full border-b-small border-solid border-textNeutralBold;
    }
  }

  .care-textInput__label {
    @apply absolute top-0 left-0 paragraph text-textNeutralBold translate-x-[16px] translate-y-[22px] z-10;
    transition:
      font-size var(--animation-duration) var(--animation-timing-function),
      font-line-height var(--animation-duration)
        var(--animation-timing-function),
      color var(--animation-duration) var(--animation-timing-function),
      transform var(--animation-duration) var(--animation-timing-function),
      max-width var(--animation-duration) var(--animation-timing-function);
  }

  .care-textInput__input {
    @apply w-full paragraph text-textNeutralBolder bg-transparent outline-none;
  }

  .care-textInput__trailingIcon {
    @apply text-textNeutralBolder;
  }

  .care-textInput__suffix {
    @apply h3 font-semiBold leading-20 text-textNeutralBold;
  }

  .care-textInput__helperText {
    @apply mt-xxsmall label font-medium text-textNeutralBold;
  }

  .care-textInput__errorMessage {
    @apply mt-xxsmall label font-medium text-textNegativeBold;
  }

  .care-textInput.care-textInput--focused {
    .care-textInput__container::before {
      @apply border-b-medium;
    }

    .care-textInput__label {
      @apply label font-medium translate-y-[12px];
    }
  }

  .care-textInput.care-textInput--error {
    .care-textInput__label,
    .care-textInput__errorMessage,
    .care-textInput__trailingIcon {
      @apply text-textNegativeBold;
    }

    .care-textInput__container::before {
      @apply border-b-negativeBold;
    }
  }

  .care-textInput.care-textInput--disabled {
    @apply opacity-[0.38] cursor-default;
  }

  /* Textarea */

  .care-textarea__container {
    @apply relative flex gap-xxsmall pt-[28px] pb-[12px] px-small bg-neutralSubtle rounded-t-xsmall;

    &::before {
      @apply content-empty absolute left-0 bottom-0 w-full border-b-small border-solid border-textNeutralBold;
    }
  }

  .care-textarea__label {
    @apply absolute top-0 left-0 paragraph text-textNeutralBold translate-x-[16px] translate-y-[22px] z-10;
    transition:
      font-size var(--animation-duration) var(--animation-timing-function),
      font-line-height var(--animation-duration)
        var(--animation-timing-function),
      color var(--animation-duration) var(--animation-timing-function),
      transform var(--animation-duration) var(--animation-timing-function),
      max-width var(--animation-duration) var(--animation-timing-function);
  }

  .care-textarea__input {
    @apply w-full paragraph text-textNeutralBolder bg-transparent resize-none outline-none;
  }

  .care-textarea__helper {
    @apply flex justify-between gap-xxsmall;
  }

  .care-textarea__helperText,
  .care-textarea__countNumber {
    @apply mt-xxsmall label font-medium text-textNeutralBold;
  }

  .care-textarea__errorMessage {
    @apply mt-xxsmall label font-medium text-textNegativeBold;
  }

  .care-textarea.care-textarea--focused {
    .care-textInput__container::before {
      @apply border-b-medium;
    }

    .care-textarea__label {
      @apply label font-medium translate-y-[12px];
    }
  }

  .care-textarea.care-textarea--focused {
    .care-textInput__container::before {
      @apply border-b-medium;
    }

    .care-textarea__label {
      @apply label font-medium translate-y-[12px];
    }
  }

  .care-textarea.care-textarea--error {
    .care-textarea__label,
    .care-textarea__errorMessage {
      @apply text-textNegativeBold;
    }

    .care-textarea__container::before {
      @apply border-b-negativeBold;
    }
  }

  .care-textarea.care-textarea--disabled {
    @apply opacity-[0.38] cursor-default;
  }
}
