@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Typography */

  .display {
    @apply text-30 tracking-xdense leading-36;
  }

  .h1 {
    @apply text-20 tracking-xdense leading-24;
  }

  .h2 {
    @apply text-16 tracking-dense leading-20;
  }

  .h3 {
    @apply text-14 tracking-dense leading-16;
  }

  .paragraph {
    @apply text-14 tracking-dense leading-16;
  }

  .label {
    @apply text-11 tracking-normal leading-12;
  }

  /* Badge */

  .badge {
    @apply relative inline-flex;
  }

  .badge__content {
    @apply absolute top-0 right-0 px-xxxsmall py-[0.125rem] min-w-xxsmall min-h-xxsmall label font-medium text-textNeutralSubtle bg-negativeBold rounded-full translate-x-2/4 translate-y-[-50%] origin-top-right scale-100 z-10;
  }

  /* Button */
  
  .btn {
    @apply relative inline-flex h2 p-small font-semiBold gap-xxsmall rounded-full;

    &:focus::after {
      @apply content-empty absolute top-[-0.25rem] bottom-[-0.25rem] left-[-0.25rem] right-[-0.25rem] rounded-full border-medium border-solid border-canvasBolder;
    }
  }

  .btn__default {
    &.btn--primary {
      @apply bg-canvasBolder text-neutralSubtle;
    }
  
    &.btn--primary:not(:disabled):active {
      @apply bg-neutralBoldPressed;
    }
  
    &.btn--primary:focus::after {
      @apply border-canvasBolder;
    }
    
    &.btn--secondary {
      @apply bg-neutralSubtle text-textNeutralBolder;
    }
  
    &.btn--secondary:active {
      @apply bg-neutralSubtle text-textNeutralBold;
    }

    &.btn--tertiary {
      @apply text-textNeutralBolder;
    }

    &.btn--tertiary:active {
      @apply text-textNeutralBold;
    }

    &:disabled {
      @apply bg-neutralSubtle text-textNeutralDisabled;
    }
  }

  .btn__positive {
    &.btn--primary {
      @apply bg-positiveBold text-neutralSubtle;
    }
  
    &.btn--primary:not(:disabled):active {
      @apply bg-positiveBoldPressed;
    }
  
    &.btn--secondary {
      @apply bg-neutralSubtle text-textPositiveBold;
    }
  
    &.btn--secondary:active {
      @apply bg-neutralSubtle text-textPositiveBolder;
    }

    &.btn--tertiary {
      @apply text-textPositiveBold;
    }

    &.btn--tertiary:active {
      @apply text-textPositiveBolder;
    }

    &:disabled {
      @apply bg-positiveSubtle text-textPositiveDisabled;
    }
  }

  .btn__negative {
    &.btn--primary {
      @apply bg-negativeBold text-neutralSubtle;
    }
  
    &.btn--primary:not(:disabled):active {
      @apply bg-negativeBoldPressed;
    }
  
    &.btn--secondary {
      @apply bg-neutralSubtle text-textNegativeBold;
    }
  
    &.btn--secondary:active {
      @apply bg-neutralSubtle text-textNegativeBolder;
    }

    &.btn--tertiary {
      @apply text-textNegativeBold;
    }

    &.btn--tertiary:active {
      @apply text-textNegativeBolder;
    }

    &:disabled {
      @apply bg-negativeSubtle text-textNegativeDisabled;
    }
  }

  .btn--small {
    @apply p-xxsmall h3 gap-xxxsmall leading-20;
  }

  /* Skeleton */

  @keyframes gradient {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .skeleton {
    @apply relative block py-0 bg-neutral-100 rounded-xsmall origin-left overflow-hidden;

    &::before {
      @apply content-empty
    }

    &::after {
      @apply content-empty absolute top-0 bottom-0 inset-0 translate-x-[-100%];
      background-image: linear-gradient(89.76deg, #F5F5F4 0%, #E7E5E4 50%, #F5F5F4 100%);
      animation: 2s linear 0.5s infinite normal none running gradient;
    }
  }

  .skeleton__text {
    @apply w-full rounded-xsmall;

    &.skeleton__text--20 {
      @apply h-[20px];
    }

    &.skeleton__text--16 {
      @apply h-[16px];
    }

    &.skeleton__text--14 {
      @apply h-[14px];
    }

    &.skeleton__text--11 {
      @apply h-[11px];
    }
  }

  .skeleton__circle {
    @apply rounded-full;

    &.skeleton__circle--xlarge {
      @apply size-[128px];
    }

    &.skeleton__circle--large {
      @apply size-[72px];
    }

    &.skeleton__circle--medium {
      @apply size-[48px];
    }

    &.skeleton__circle--small {
      @apply size-[32px];
    }
  }

  .skeleton__square {
    @apply rounded-xsmall;

    &.skeleton__square--xlarge {
      @apply size-[128px];
    }

    &.skeleton__square--large {
      @apply size-[72px];
    }

    &.skeleton__square--medium {
      @apply size-[48px];
    }

    &.skeleton__square--small {
      @apply size-[32px];
    }
  }

  .skeleton__rectangle {
    @apply rounded-xsmall;

    &.skeleton__rectangle--xlarge {
      @apply w-[128px] h-[calc(128px/1.5)];
    }

    &.skeleton__rectangle--large {
      @apply w-[72px] h-[48px];
    }

    &.skeleton__rectangle--medium {
      @apply w-[48px] h-[32px];
    }

    &.skeleton__rectangle--small {
      @apply w-[32px] h-[calc(32px/1.5)];
    }
  }

  /* Tag */

  .tag {
    @apply relative inline-flex items-center gap-xxxsmall p-xxsmall h2 font-semiBold rounded-xsmall; 
  }

  .tag__low {
    &.tag--neutral {
      @apply bg-neutralSubtle text-textNeutralBolder;
    }

    &.tag--negative {
      @apply bg-negativeSubtle text-textNegativeBolder;
    }

    &.tag--attention {
      @apply bg-attentionSubtle text-textAttentionBolder;
    }

    &.tag--positive {
      @apply bg-positiveSubtle text-textPositiveBolder;
    }

    &.tag--informative {
      @apply bg-informationSubtle text-textInformationBolder;
    }
  }

  .tag__high{
    &.tag--neutral {
      @apply bg-neutralBold text-textNeutralSubtle;
    }

    &.tag--negative {
      @apply bg-negativeBold text-textNeutralSubtle;
    }

    &.tag--attention {
      @apply bg-attentionBold text-textNeutralSubtle;
    }

    &.tag--positive {
      @apply bg-positiveBold text-textNeutralSubtle;
    }

    &.tag--informative {
      @apply bg-informationBold text-textNeutralSubtle;
    }
  }

  .tag--small {
    @apply label font-medium;
  }
}
