.card {
  margin-top: 0.5rem;
}

.lead {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  border-bottom: 1px solid #c3c3c3;
}

.container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #fbfbfb;
  border: 1px solid #c3c3c3;
  border-radius: 0.25rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-size: 0.875rem;
  line-height: 1rem;
  opacity: 0.6;
}

.content {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}
